.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col-sm-6 {
    width: calc(50% -0px);
    margin-inline: 50px;
    box-sizing: border-box;
    margin-top: 50px;
}

.card {
    width: 650px;
    height: 350px;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    background: #000;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.7);
}

.card-image {
    position: relative;
    width: 250px;
    overflow: hidden;
}

.card-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    width: 400px;
    padding: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 12px;
    color: #bdb8b8;
}

.card-title {
    color: #e8e8e8;
    font-size: 22px;
    letter-spacing: 5px;
}

p {
    margin-top: -20px;
}

.rating {
    margin-top: -10px;
}
p span {
    margin-left: 10px;
}

.card-description {
    text-align: justify
}

